<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="the_fish_shop_db"
         connectionString="server=localhost;port=3306;database=the_fish_shop_db;uid=root;password=admin;"
         providerName="MySql.Data.MySqlClient" 
         /> 
  </connectionStrings>
  <startup>
    <supportedRuntime version="v5.0" sku=".NETFramework, Version=v5.0" />
  </startup>
</configuration>
